@main-width: 1420px;

.pont-ui-nav {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;

  .title {
    margin-left: 30px;
    font-size: 24px;
    color: #ff6a00;
  }
}
