
**/*.bk
**/*.ts.bk
packages/**/*.ts.bk
node_modules
lerna-debug.log
/coverage
/built
/tmp
.awcache
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lena-debug.log*
services/
lib/services/
.mocks/
.idea/
test/services/
lib/
yarn-error.log
packages/vscode-pont/out/
.vscode-test/
packages/vscode-pont/dist/assets
packages/vscode-pont/dist/index.html
tsconfig.tsbuildinfo
*.tsbuildinfo
packages/vscode-pont-ui/out/
packages/pont-ui/out/
packages/pont-ui/src/mocks/*
packages/pont-ui/src/services.local.ts
packages/pont-spec/es6/*
package-lock.json
packages/vscode-pont/media/dist
packages/vscode-pont/media/node_modules
packages/vscode-pont/media/assets/
packages/vscode-pont/media/out
packages/pont-spec-diff/tests/out
packages/pont-spec-diff/es6/
packages/pont-spec-diff/tests
