
**/*.bk
**/*.ts.bk
packages/**/*.ts.bk
node_modules
lerna-debug.log
/coverage
/built
/tmp
.awcache
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lena-debug.log*
services/
lib/services/
.mocks/
.idea/
test/services/
lib/
yarn-error.log
packages/vscode-pontx/out/
.vscode-test/
packages/vscode-pontx/dist/assets
packages/vscode-pontx/dist/index.html
tsconfig.tsbuildinfo
*.tsbuildinfo
packages/vscode-pontx-ui/out/
packages/pontx-ui/out/
packages/pontx-ui/src/mocks/*
packages/pontx-ui/src/service.local.ts
packages/pontx-spec/es6/*
package-lock.json
packages/vscode-pontx/media/dist
packages/vscode-pontx/media/node_modules
packages/vscode-pontx/media/assets/
packages/vscode-pontx/media/out
packages/pontx-spec-diff/tests/out
packages/pontx-spec-diff/es6/
packages/pontx-spec-diff/tests
packages/pontx-ui/src/mocks/*.json
packages/pontx-ui/src/mocks/remoteSpec.json
plugins/generate/pontx-react-hooks-generate-plugin/builtin
