
**/*.bk
**/*.ts.bk
packages/**/*.ts.bk
node_modules
lerna-debug.log
/coverage
/built
/tmp
.awcache
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lena-debug.log*
services/
lib/services/
/examples/demo1/node_modules/
.mocks/
examples/hooks/node_modules
.idea/
test/services/
lib/
yarn-error.log
packages/vscode-pont/out/
.vscode-test/
packages/vscode-pont/dist/assets
packages/vscode-pont/dist/index.html
tsconfig.tsbuildinfo
*.tsbuildinfo
packages/vscode-pont-ui/out/
packages/pont-ui/out/
packages/pont-ui/src/mocks/spec.json
