.pont-ui-baseclass {
  .header {
    background-color: #d6e0e5;
    border: 1px solid #89a6b5;
    border-radius: 2px;
    padding: 8px 18px;
    // display: flex;
    line-height: 28px;
    margin-bottom: 20px;

    .title {
      color: black;
      font-weight: bold;
    }
  }
}

.pont-ui-dropdown-baseclass {
  .next-overlay-inner {
    .pont-ui-baseclass {
      min-width: 500px;
      background-color: white;
      border: 1px solid #89a6b5;
      padding: 0;
    }

    .header {
      border: 0;
      border-radius: 0;
    }
    .pont-ui-schema-editor {
      border-radius: 0;
    }
  }
  .pont-ui-baseclass {
    .header {
      margin-bottom: 0;
    }
  }
}
