.pontx-directory {
  --nav-height: 50px;
  --min-menu-width: 300px;
  min-width: var(--min-menu-width);
  position: relative;
  border-right: 1px solid #e7e7e7;
  font-size: 12px;
  display: flex;
  flex-direction: column;

  .directory-header {
    padding: 16px;
    border-bottom: 1px solid #e7e7e7;

    .spec-info {
      .spec-name {
        height: 24px;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
        line-height: 24px;
      }
    }

    .pontx-directory-search {
      display: flex;
      flex-grow: 1;
      margin: 8px 0px 0 0px;
      background-color: #ffffff;
      border: 1px solid #c0c6cc;
      border-radius: 2px;
      min-height: 30px;

      input {
        height: 24px;
        line-height: 1;
        width: 100%;
      }
      .rc-input-suffix {
        display: none;
      }
    }
  }

  .dirs {
    padding-bottom: 30px;
    overflow-y: auto;
  }

  .rc-menu-root {
    box-shadow: none;
    border: 0;
    padding-top: 12px;

    .rc-menu-submenu-selected {
      background-color: unset;
    }

    .rc-menu-item,
    .rc-menu-submenu-title {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-right: 16px;
    }
    .multiple-menu,
    .rc-menu-submenu.tag > .rc-menu-submenu-title {
      padding: 6px 0;
    }

    .method {
      margin-right: 16px;
      font-weight: 700;
      font-size: 12px;
    }

    .rc-menu-item:hover {
      .method {
        display: none;
      }
    }

    .iconfont-pontx {
      font-size: 14px;
      margin-right: 8px;

      &.pontx-icon-struct {
        color: #7070cd;
      }
      &.pontx-icon-api {
        color: #769ae0;
      }
    }

    .rc-menu-submenu-title {
      display: flex;
    }
    .brief-menu {
      display: flex;
      align-items: center;
    }

    .lines,
    .brief-menu {
      flex-grow: 1;
      line-height: 14px;

      .name {
        position: relative;
        display: block;
        overflow: hidden;
        font-size: 14px;
        white-space: pre;
        text-overflow: ellipsis;
        cursor: pointer;
        color: rgba(16, 24, 40, 0.8);
      }

      .sub-title {
        display: inline-block;
        font-size: 12px;
        color: #8a8989;
        font-size: 12px;
        transform: scale(0.9);
        transform-origin: left top;
      }
    }
  }
}
